.profile-container {
  width: 100vw;
  @include for-tablet-landscape-up {
    margin: 0;
  }
  display: grid;
  grid-template-columns: 35% 60%;
  grid-areas: "photo" "content" "photo" "content" "photo" "content" "photo"
    "content" "photo" "content";
  //   background-color: red;
}

.profile-user-photo {
  @include flex-center;
  justify-content: flex-end;
  grid-area: "photo";
  margin: 10px 0px;
  img {
    @include for-tablet-landscape-up {
      width: 150px;
      height: 150px;
      margin-top: -180px;
    }
    width: 180px;
    height: 180px;
    border: 2px solid $inactive-text;
    border-radius: 100%;
    padding: 5px;
    margin-top: -100px;
    margin-right: 10%;
  }
}

.profile-content {
  @include flex-center;
  align-items: flex-start;
  flex-direction: column;
  grid-area: "content";
}

.profile-header {
  @include flex-center;
  @include for-tablet-landscape-up {
    align-items: flex-start;
    flex-direction: column;
  }
  margin: 20px 0;
  h2 {
    font-weight: normal;
    font-size: 30px;
    margin-right: 20px;
  }
  button {
    margin-right: 10px;
    padding: 5px 20px;
    width: auto;
    height: 30px;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bolder;
  }
}

.profile-activity {
  @include flex-center;
  flex-direction: row;
  margin: 10px 0;
  p {
    margin-right: 21px;
  }
  #bold {
    font-weight: bolder;
  }
}

.profile-info {
  margin: 10px 0;
  p {
    margin-right: 21px;
  }
  #inactive {
    color: gray;
  }
  a {
    color: #143566;
    font-weight: bold;
    text-decoration: none;
    &:after {
      text-decoration: none;
    }
  }
}

.profile-followers {
  font-size: 13px;
  font-weight: bold;
  color: #282828;
  #inactive {
    color: $inactive-text;
  }
}
