.navbar-main-wrapper {
  @include flex-center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid $inactive-text;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  width: 100vw;
}

.navbar-left {
  width: 40%;
}

.navbar-middle {
  @include flex-center;
  background-color: #fafafa;
  width: 220px;
  margin-left: -120px;
  .navbar-middle-wrapper {
    @include flex-center;
    border: 1px solid $inactive-text;
    width: 220px;
    height: 27px;
    background-color: #fafafa;
    border-radius: 4px;
    width: 200px;
    input {
      border: none;
      background-color: transparent;
      text-align: center;
      margin-left: -40px;
      &::placeholder {
        color: $inactive-text;
      }
      .search-icon {
        margin-top: 10px;
        margin-left: 40px;
        color: $inactive-text;
      }
    }
  }
}

.navbar-right {
  @include flex-center;
  width: 40%;
  font-size: 28px;
  span {
    margin: 0 10px;
  }
  img {
    border-radius: 50px;
    width: 28px;
    height: 28px;
  }
}
